## Various settings
xcuserdata/
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ima
*.dSYM.zip
*.dSYM

## Cocoapods

Pods

## Workspace

News.xcworkspace

## Auto-generation files
R.generated.swift
